<<<<<<< HEAD
/* MOBILE CSS FORMATTING */
/*-----------------------*/
@media screen and (min-width:320px; max-width: 720px) {
=======
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    width: 90%;
    margin: 0px auto;
    background-image: url("../img/triangular/triangular.png");
    background-repeat: repeat;
    }

header{
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    align-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px auto;
    /* position: relative; */
    }

img#header-img {
    display: block;
    width: 400px;
    margin: 0 auto;
    height: auto;
}

article#main-text {
    /* background-color: #95DBB4; */
    width: 70%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
}

/* padding refers to the spacing around the text area */
    
    
/* margin refers to spacing inside of the text area */  

@media screen and (max-width: 500px) {
>>>>>>> origin/master
    body {
        max-width: 90%;
        align-content: center;
        padding: 5px auto; }
<<<<<<< HEAD

        table.main-table{
        max-width: 100%;
        display: block;
        margin: 0 auto; }

=======

        table .main-table{
        display: block;
        margin: 0 auto; }

>>>>>>> origin/master
        header {
            max-width: 100%;
        }

        img#header-img {
            max-width: 100%;
            height: auto; }

        ul#main-nav{
            list-style-type: none;
            margin: 0 auto;
            padding: 0 auto;
            width: 70%; } 

        li#nav-links a{
            display: inline; }
<<<<<<< HEAD

        form > input, textarea {
            max-width: 100%;
        }

        div.about-content {
            max-width: 100%;
        }

=======

}

table .main-table, th, td {
    width: 125px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
    margin: 0 auto;
    }
>>>>>>> origin/master


}

/* DESKTOP CSS FORMATTING */
/*-----------------------*/

ul#main-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    }

li#nav-links a {
    display: inline-table;
    width: 100px;
    padding: 6px 12px;
    text-decoration: none;
        } 


li#nav-links a:hover {
    background-color: rgba(86, 86, 86, 1);
    color: white;
    width: 100px
}
.menu-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgba(184, 184, 190, 0.875);

}

.menu:hover  .menu-dropdown {
    display: block;
}

.menubtn {
    padding: 15px;
    font-size: 13px;
    border:none;
    background-color: rgba(179, 179, 186, 0.8); 
}

.random-list {
    list-style-type: square;
}

header{
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    align-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px auto;
    position: relative;
    }

footer{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-style: italic;
    }

img#header-img {
    display: block;
    width: 400px;
    margin: 0 auto;
    height: auto;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    width: 90%;
    margin: 0px auto;
    background-image: url("../img/triangular/triangular.png");
    background-repeat: repeat;
    }

article > h2 {
    text-align: center;
}

article#main-text {
    /* background-color: #95DBB4; */
    width: 70%;
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
}

div.about-content {
    display: inline-flex;
}
  
table.main-table {

    text-align: center;
    border: 1px solid black;
    padding: 15px;
    margin: 0 auto;
    }

        th {
            background-color: #868686;
            color: black;
        }

        td:hover {
            background-color: slategray;
        }

/* FORM FORMATTING */
/*-----------------------*/

form > #contact-name, #email {
    width: 300px;
}

form > #desc-box {
    width: 500px;
    height: 220px
}

/* CHART CSS FORMATTING */
/*-----------------------*/

div.chart{
    height: 350px;
    width: 350px;
}