body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;

    width: 90%;
    margin: 0px auto;
    background-image: url("../img/triangular/triangular.png");
    background-repeat: repeat;
    }

header{
    font-family: 'VT323', monospace;
    font-size: 20px;
    text-align: center;
    align-content: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px auto;
    /* position: relative; */
    }

img#header-img {
    display: block;
    width: 400px;
    margin: 0 auto;
    height: auto;
}

article#main-text {
    /* background-color: #95DBB4; */
    width: 70%;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    padding: 5px 15px 5px 15px;
}

/* padding refers to the spacing around the text area */
    
    
/* margin refers to spacing inside of the text area */  

@media screen and (max-width: 500px) {
    body {
        max-width: 90%;
        align-content: center;
        padding: 5px auto; }

        table .main-table{
        display: block;
        margin: 0 auto; }

        header {
            max-width: 100%;
        }

        img#header-img {
            max-width: 100%;
            height: auto; }

        ul#main-nav{
            list-style-type: none;
            margin: 0 auto;
            padding: 0 auto;
            width: 70%; } 

        li#nav-links a{
            display: inline; }

}

table .main-table, th, td {
    width: 125px;
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    border-spacing: 5px;
    margin: 0 auto;
    }

        th {
            background-color: #868686;
            color: black;
        }

        td:hover {
            background-color: slategray;
        }

footer{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-style: italic;
    }

ul#main-nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    }

li#nav-links a {
    display: inline-table;
    width: 100px;
    padding: 6px 12px;
    text-decoration: none;
        } 


li#nav-links a:hover {
    background-color: #868686;
    color: white;
    width: 100px
}
.menu-dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color:#B8B8BE;

}

.menu:hover  .menu-dropdown {
    display: block;
}

.menubtn {
    padding: 15px;
    font-size: 13px;
    border:none;
    background-color: #B3B3BA;
    
}

.random-list {
    list-style-type: square;
}