body{
		font-family: 'Overpass', sans-serif;
		background: lightgray;
		color: dimgray;}

a{ color:gray;
	text-decoration: none;}

a:hover{ color: orange;
}

h1{ 
}

.indent{ margin-left:10px;
}

.gap{ margin-bottom:15px;
}