@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@media screen and (orientation: portrait) {
    body {
        margin: 0 auto;
    }
    
}

:root {
    width: 100vw;
    height: 100vh;
}

body {
    /* margin: 25vh 10vh; */
    text-align: center;
    align-content: center;
    font-family: 'Share Tech Mono', monospace;
    background-color: #191919;
    color: #35D600;
}

a:link, a:visited, a:active {
    color: #35D600;
    text-decoration: none;
}

a:hover {
    filter: drop-shadow(1px 1px 7px #35D600);
}

#content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80vw;
    transform: translate(-50%, -50%);
}

#main {
    text-align: justify;
    line-height: 1.3rem;
    display: inline-block;
}

#main p {
    font-size: 1.4rem;
}

.blinker {
    animation: eol-blink 1.1s infinite;
}

@keyframes eol-blink {
    0% {color: #191919;}
    49% {color: #191919;}
    50% {color: #35D600;}
    100% {color: #35D600;}
}

#links * {
    margin: 2rem 0;
    font-size: 1.6rem;
    transition: all 0.3s ease-out;
}

/* .contact-details:hover {
    text-decoration: none;
} */

.contact-details:hover > i {
    transform: rotate(-12deg);
}

#meme {
    text-decoration: line-through;
}